.home-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   color: white;
   
    
}

.signup-button{
    height: 34px;
    width: 100px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
}
.login-button{
    height: 34px;
    width: 100px;
    border-radius: 10px;
    background-color: #faf489;
    border: 0px;
    color: black;
    font-size: 15px;
}
.text-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
