.input-elements-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    background-color: transparent;
    height: auto;
    width: 280px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
.button-container{
    text-align: center;
}

.button-for-login{
    height: 25px;
    width: 60px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}

.para{
    font-size: 18px;
    text-align: center;
}
.button-for{
    text-align: right;
    font-size: 15px;
    color: #0fc7d4;
    margin-top: 13px;
}
.login-heading{
    text-align: center;
    font-size: 25px;
}
.login-input{
    padding-left: 100px;
}

.error-container{
    color: red;
    background-color: transparent;
    border-radius: 10px;
    height: auto;
    width: 340px;
    border: 2px solid rgb(181, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 30px;
    padding-right: 10px;
    padding-top: 16px;
}
.icon-container{
    display: flex;
}