/* .img{
    background-color: transparent;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding-left: 100px;
    
  } */
  .heading{
    color: white;
    font-size: 30px;
  }
  .para-1{
    color: white;
    font-size: 18px;
  }