.container-forgot{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    background-color: transparent;
    height: auto;
    width: 300px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px; 
    margin-left: 60px;
    color: white; 
}
.button-forgot{
    background-color: transparent;
    height: 30px;
    width: 130px;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    font-size: 13px;
}
.button-underline{
    background-color: transparent;
    border: 0px;
    text-decoration: underline;
    color: yellow;
    font-size: 18px;
}
.none-item{
    display: none;
}
.block-item{
    display: block;
}
.green{
    color: rgb(102, 230, 178);
    font-size: 18px;
    font-weight: 500;
}
.red{
    color: red;
    font-size: 18px;
    font-weight: 500;
}
.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.passwordnew{
    display: flex;
    flex-direction: column;
    justify-self:center;
    align-items: center;
}

.button-1{
    height: 30px;
    width: 160px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
